<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Overall
      </ion-card-header>
      <ion-card-content>
    <canvas #overall></canvas>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Basic
      </ion-card-header>
      <ion-card-content>
        <canvas #basic></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Advanced
      </ion-card-header>
      <ion-card-content>
        <canvas #advanced></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="container">
  </div>
</ion-content>
