<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{question?.question}}    <ion-skeleton-text *ngIf="question == null" animated></ion-skeleton-text></ion-card-subtitle>


  </ion-card-header>

  <ng-container *ngFor="let picture of question?.pictureUrls">
    <img [src]="'assets/images/' + picture.url" [title]="picture.title">
  </ng-container>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="answerAction(answers[0])">
            <ion-card-content>
                <ion-skeleton-text *ngIf="question == null" animated></ion-skeleton-text>
                <ng-container *ngIf="question != null">{{answers[0]?.value}}</ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card (click)="answerAction(answers[1])">
            <ion-card-content>
              <ion-skeleton-text *ngIf="question == null" animated></ion-skeleton-text>
              <ng-container *ngIf="question != null">{{answers[1]?.value}}</ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card (click)="answerAction(answers[2])">
            <ion-card-content>
              <ion-skeleton-text *ngIf="question == null" animated></ion-skeleton-text>
              <ng-container *ngIf="question != null">{{answers[2]?.value}}</ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" >
          <ion-card (click)="answerAction(answers[3])">
            <ion-card-content>
              <ion-skeleton-text *ngIf="question == null" animated></ion-skeleton-text>
              <ng-container *ngIf="question != null">{{answers[3]?.value}}</ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

